; |------------------------------------OTTOEJECT MACROS FILE-------------------------------------|
; |------------------------------------VERSION: 1.0 RELEASE 10/04/2026-------------------------------------|


[include storage_calibration_variables.cfg]
[gcode_arcs]
resolution: 0.1
#   An arc will be split into segments. Each segment's length will
#   equal the resolution in mm set above. Lower values will produce a
#   finer arc, but also more work for your machine. Arcs smaller than
#   the configured value will become straight lines. The default is
#   1mm.

[gcode_macro TEST_STORAGE_RACK_CONFIGURATION]
description: Test Calibration for storage rack
gcode: 
    GRAB_FROM_SLOT_1
    STORE_TO_SLOT_3
    GRAB_FROM_SLOT_2
    STORE_TO_SLOT_4
    GRAB_FROM_SLOT_3
    STORE_TO_SLOT_5
    GRAB_FROM_SLOT_4
    STORE_TO_SLOT_6
    GRAB_FROM_SLOT_6
    STORE_TO_SLOT_1
    GRAB_FROM_SLOT_5
    STORE_TO_SLOT_2

; |--------------------------------------GLOBAL---------------------------------------|
[gcode_macro _GRAB_FROM_SLOT]
variable_otto_x_unclamp: 0
variable_otto_y_engage: 0
variable_otto_z_flat: 0
variable_otto_y_pullback_limit: 0
description: Taking new plate to deliver to printer
gcode:
    {% set x_unclamp = printer["gcode_macro _GRAB_FROM_SLOT"].otto_x_unclamp %}
    {% set x_middle = x_unclamp - 30 %}
    {% set y_engage = printer["gcode_macro _GRAB_FROM_SLOT"].otto_y_engage %}
    {% set z_flat = printer["gcode_macro _GRAB_FROM_SLOT"].otto_z_flat %}
    {% set y_pullback_limit = printer["gcode_macro _GRAB_FROM_SLOT"].otto_y_pullback_limit %}
    

    G1 X{x_unclamp} Y280 F4000
    M400
    G1 Z{z_flat} F1000
    M400

    ; SLIDE ARM TOWARDS RACK
    G1 Y{y_engage-35} F4000
    M400
    G1 Y{y_engage-25} F600
    M400
    G1 Y{y_engage} F300
    M400

    ; LOCK GRABBER INTO PLATE BRACKET
    G1 X{x_middle} F800 
    M400

    ; LIFT AND PULL OUT BED
    M117 Picking up new bed... 
    G1 Z{z_flat+25} F600
    M400
    ; CHANGE THIS HEIGHT BY Z(FLAT)+25 
    G1 Y250 Z{z_flat+20} F1000 
    M400
    
    G1 Y{y_pullback_limit} F2000
    M400

[gcode_macro _STORE_TO_SLOT]
variable_otto_x_unclamp: 0
variable_otto_y_engage: 0
variable_otto_z_flat: 0
variable_otto_y_pullback_limit: 0
description: Start STORE PRINT Macro
gcode:
    {% set x_unclamp = printer["gcode_macro _STORE_TO_SLOT"].otto_x_unclamp %}
    {% set x_middle = x_unclamp - 30 %}
    {% set y_engage = printer["gcode_macro _STORE_TO_SLOT"].otto_y_engage %}
    {% set z_flat = printer["gcode_macro _STORE_TO_SLOT"].otto_z_flat %}
    {% set y_pullback_limit = printer["gcode_macro _GRAB_FROM_SLOT"].otto_y_pullback_limit %}

    G1 X{x_middle} Y{y_pullback_limit} Z{z_flat+35} F4000 ; Moving to Storage Rack location
    M400
    M117 Arm with print bed in front of the rack now...
    M117 Raising arm...
    
    ; SLIDE ARM IN
    G1 Y60 F2000
    M400
    G1 Y{y_engage-15} Z{z_flat+25} F1000 ; Moving ejected build plate on top of the rack
    M400
    G1 Y{y_engage+2} F500
    M400
    G1 Z{z_flat+10} F300 
    M400

    ; LOOSEN CLAMP
    M117 Dropping off old bed...
    G1 Z{z_flat} Y{y_engage+1} F600
    M400

    ; DETACH FROM PLATE
    G1 Y{y_engage} F600
    G1 X{x_unclamp} F800
    M400

    ; MOVE ARM BACK OUT
    G1 Y300 F800
    G1 Y280 F3000
    M400

[gcode_macro _EJECT_FROM_PRINTER]
variable_otto_x_unclamp: 0
variable_otto_y_engage: 0
variable_otto_z_flat: 0
variable_otto_y_pullback_limit: 0
description: 'Eject build plate from PRINTER (without homing)'
gcode:
    {% set x_unclamp = printer["gcode_macro _EJECT_FROM_PRINTER"].otto_x_unclamp %}
    {% set x_middle = x_unclamp + 30 %}
    {% set y_engage = printer["gcode_macro _EJECT_FROM_PRINTER"].otto_y_engage %}
    {% set z_flat = printer["gcode_macro _EJECT_FROM_PRINTER"].otto_z_flat %}
    {% set y_pullback_limit = printer["gcode_macro _GRAB_FROM_SLOT"].otto_y_pullback_limit %}

    M117 'Moving arm to the build plate on the printer'
    ; MOVE ARM TO PRINTER
    G1 Z{z_flat} Y{y_engage-90} F3000
    M400
    G1 Y{y_engage-80} F3000
    M400
    G1 X{x_unclamp}  F3000
    M400

    ; MOVE ARM TO RIGHT EDGE OF THE BUILD PLATE
    G1 Y{y_engage-20} F3000
    G1 Y{y_engage} F600
    M400

    ; ENGAGE CLAMP
    M117 'Engaging clamp onto build plate bracket'
    G1 X{x_unclamp+5} F600
    M400
    G1 X{x_middle} F2000
    M400

    ; LIFT BUILD PLATE UP AND MOVE IT OFF
    M117 'Removing build plate from the printer'
    G1 Z{z_flat+52} F1000 ;Z100
    G1 Y{y_engage-100} Z{z_flat+49} F3000
    G1 Y{y_engage-150} Z{z_flat+45} F3000
    G1 Y{y_engage-200} Z{z_flat+35} F3000
    G1 Y{y_engage-250} Z{z_flat+30} F3000
    G1 Y{y_engage-300} Z{z_flat+15} F3000
    ; PLATE PULL BACK LIMIT
    G1 Y{y_pullback_limit} Z30 F3000 
    M400

;   -- LOAD BUILD PLATE ONTO PRINTER
[gcode_macro _LOAD_ONTO_PRINTER]
variable_otto_x_unclamp: 0
variable_otto_y_engage: 0
variable_otto_z_flat: 0
variable_otto_y_pullback_limit: 0
description: 'Load a build plate onto Printer'
gcode:
    {% set x_unclamp = printer["gcode_macro _LOAD_ONTO_PRINTER"].otto_x_unclamp %}
    {% set x_middle = x_unclamp + 30 %}
    {% set y_engage = printer["gcode_macro _LOAD_ONTO_PRINTER"].otto_y_engage %}
    {% set z_flat = printer["gcode_macro _LOAD_ONTO_PRINTER"].otto_z_flat %}
    {% set y_pullback_limit = printer["gcode_macro _GRAB_FROM_SLOT"].otto_y_pullback_limit %}

    ; MOVE BUILD PLATE TO PRINTER
    G1 Z{z_flat+55} Y{y_pullback_limit} F1000
    M400
    G1 X{x_middle} F3000
    M400
    G1 Y50 Z{z_flat+40} F1000
    M400
    G1 Y{y_engage-20} F3000
    M400
    G1 Y{y_engage+3} F600

    ; LOWER AND RELEASE BUILD PLATE ONTO PRINTER
    M117 'Lowering build plate onto printer'
    G1 Z{z_flat} Y{y_engage+0.5} F1500
    M400

    ;UNCLAMP
    M117 'Disengaging clamp from build plate'
    G1 Y{y_engage} F600
    G1 X{x_unclamp+15} F600
    G1 X{x_unclamp} F1500
    M400

    ; PULL ARM BACK
    M117 'Pulling arm back'
    G1 Y320 F1500
    G1 Y280 F4000
    M400
    
; |--------------------------------------DOOR---------------------------------------|

[gcode_macro _OPEN_DOOR]
variable_door_x_start: 0
variable_door_y_start: 0
variable_door_z_engage: 0
variable_door_d_to_pin_dist: 0
description: Eject plate without homing
gcode:
    {% set x_start = printer["gcode_macro _OPEN_DOOR"].door_x_start %}
    {% set y_start = printer["gcode_macro _OPEN_DOOR"].door_y_start %}
    {% set z_engage = printer["gcode_macro _OPEN_DOOR"].door_z_engage %}
    {% set d_to_pin_dist = printer["gcode_macro _OPEN_DOOR"].door_d_to_pin_dist %}
    {% set gantry_gap = 35 %}
    {% set y_max = (372 + gantry_gap) %} ; dist of when y=0 (372) + gantry gap
    {% set y_limit = 10 %}

    {% set y_arc_temp = ( (y_max - (d_to_pin_dist + gantry_gap)) ) %}

    {% if y_arc_temp > 10 %}
      {% set y_arc = (y_arc_temp + y_limit) %}
    {% else %}
      {% set y_arc = (y_limit) %}
    {% endif %}

    {% set x_arc = ( (x_start + d_to_pin_dist) - ( ((d_to_pin_dist**2) - ((y_arc - y_start)**2))**0.5)|int)  %}
    {% set i_value = (d_to_pin_dist) %}
    {% set j_value = (0) %}
    
    M117 "Opening door ..."
    ; MOVE ARM TO Z_LOWER 
    G1 Z{z_engage-40} F1000
    M400
    G1 X{x_start+5} Y{y_start-30} F3000 
    ; MOVE ARM TO UNDER DOOR BRACKET
    G1 Y{y_start+5} F3000
    M400
    ; MOVE ARM UP INTO DOOR BRACKET
    G1 Z{z_engage} F1000
    M400
    ; POSITION INTO CORNER OF DOOR BRACKET
    G1 X{x_start} Y{y_start} F500
    M400
    ; OPEN DOOR SEMI CIRCLE
    G3 X{x_arc} Y{y_arc} I{i_value} J{j_value} F3000
    M400
    ; LOOSEN FROM BRACKET SLOWLY
    ;G1 X{x_arc-8} Y{y_arc+15} F500
    G1 X{x_arc-12} Y{y_arc+15} F500
    M400
    ; MOVE ARM DOWN FROM DOOR BRACKET
    G1 Z{z_engage-40} F500
    M400
    ; MOVE ARM TO NEXT TO BRACKET
    G1 X{x_arc-120} Y{y_arc+110} F3000
    M400
    G1 X{x_arc-106} Y{y_arc+95} F3000 ;127
    ; MOVE ARM UP TO Z_UPPER
    G1 Z{z_engage+15} F1000
    ;M400
    ;G1 X{x_arc} Y{y_arc}
    ;M400
    ; MOVE ARM TO DOOR BRACKET
    G1 X{x_arc+145} Y{y_arc} F1000
    M400
    ;G1 X{x_arc-63} Y{y_arc+110} F1000
    ; PUSH DOOR ACROSS
    ;G1 X{x_arc+55} Y{y_arc+5} F2000
    ;M400
    ;G1 X{x_arc+140} Y{y_arc} F2000
    ;M400
    ; PULL ARM AWAY FROM DOOR BRACKET
    G1 X{x_arc+110} F300
    M400
    ; MOVE ARM TO IN FRONT OF RACK B
    G1 X{x_arc-20} F3000
    M400
    
    M117 "Door opened, ready to eject plate"

[gcode_macro _CLOSE_DOOR]
variable_door_x_start: 0
variable_door_y_start: 0
variable_door_z_engage: 0
variable_door_d_to_pin_dist: 0
description: Eject plate without homing
gcode:
    {% set x_start = printer["gcode_macro _CLOSE_DOOR"].door_x_start %}
    {% set y_start = printer["gcode_macro _CLOSE_DOOR"].door_y_start %}
    {% set z_engage = printer["gcode_macro _CLOSE_DOOR"].door_z_engage %}
    {% set d_to_pin_dist = printer["gcode_macro _CLOSE_DOOR"].door_d_to_pin_dist %}
    {% set gantry_gap = 35 %}
    {% set y_max = (372 + gantry_gap) %} ; dist of when y=0 (372) and gantry gap
    {% set y_limit = 10 %}
    
    {% set y_arc_temp = ( (y_max - (d_to_pin_dist + gantry_gap)) ) %}
    
    {% if y_arc_temp > 10 %}
      {% set y_arc = (y_arc_temp + y_limit) %}
    {% else %}
      {% set y_arc = (y_limit) %}
    {% endif %}

    {% set x_arc = ( (x_start + d_to_pin_dist) - ( ((d_to_pin_dist**2) - ((y_arc - y_start)**2))**0.5)|int)  %}
    {% set y_arc = ( (y_max - (d_to_pin_dist + gantry_gap)) + y_limit ) %}    
    {% set i_value = (85) %}
    {% set j_value = (d_to_pin_dist) %}
    
    M117 "Closing door ..."
    ; LOWER ARM TO Z_LOWER
    G1 Z{z_engage-40} F1000
    M400
    ; MOVE ARM TO DOOR BRACKET
    ;G1 X{x_arc+120} Y{y_arc+6} F3000 
    G1 X{x_arc+120} Y{y_arc+27} F3000
    M400
    G1 X{x_arc+175} F1000
    M400
    ; RAISE ARM INTO DOOR BRACKET
    G1 Z{z_engage} F1000
    M400
    ; PULL DOOR FORWARD
    ;G1 X{x_arc+125} Y{y_arc+1} F1000
    G1 X{x_arc+140} Y{y_arc+32} F1000
    M400
    ; CLOSE DOOR SEMI CIRCLE
    ;G2 X{x_start+8} Y{y_start-30} I{i_value} J{j_value} F3000
    ; G2 X{x_start+23} Y{y_start-67} I{i_value} J{j_value} F3000
    G2 X{x_start+23} Y{y_start-36} I{i_value} J{j_value} F3000
    M400
    ; LOOSEN FROM BRACKET SLOWLY
    ;G1 X{x_start+9} Y{y_start-27} F800
    G1 X{x_start+28} Y{y_start-48} F800
    M400 
    ; LOWER ARM FROM DOOR BRACKET
    G1 Z{z_engage-40} F1000
    M400
    ; MOVE ARM TO POSITION TO PUSH DOOR BRACKET
    ;;G1 X{x_start+35} Y{y_start-180} F3000
    G1 X{x_start+69} Y{y_start-245} F3000
    M400
    ; MOVE ARM UP TO Z_UPPER
    ;;G1 Z{z_engage} F1000
    G1 Z{z_engage} F1000
    M400
    ; MOVE ARM TO CLOSE DOOR BRACKET
    ;G1 Y{y_start-130} F2000
    G1 Y{y_start-158} F2000
    M400
    ;G1 Y{y_start-50} X{x_start+15} F2000
    G1 Y{y_start-78} X{x_start+15} F2000
    M400
    ;G1 Y{y_start-19} F800
    G1 Y{y_start-19} F800
    M400
    G1 Y{y_start-60} F3000
    M400
    M117 "Door closed, ready to print"

# ; |------------------------------ OTHER MACROS -----------------------------|

[gcode_macro PARK_OTTOEJECT]
description: 'Park the OTTOeject near home' 
gcode:
    M117 'Parking OTTOeject...'

    ; MOVE ARM TO PARKING SPACE
    M117 'Moving arm to PARKING SPACE...'
    G1 X10 Y280 Z10 F3000
    M400
    M84


[gcode_macro _EJECT_DONE]
description: M117 for print finish
gcode:
    M117 Eject Done
