# This file contains common pin mappings for the BIGTREETECH SKR Pico V1.0
# To use this config, the firmware should be compiled for the RP2040 with
# USB communication.

# The "make flash" command does not work on the SKR Pico V1.0. Instead,
# after running "make", copy the generated "out/klipper.uf2" file
# to the mass storage device in RP2040 boot mode

# See docs/Config_Reference.md for a description of parameters.
[include mainsail.cfg]
[include ottoeject_macros.cfg]
[include storage_calibration_variables.cfg]
[include printer_calibration_variables.cfg]

[mcu]
serial: /dev/ttyAMA0
restart_method: command

[printer]
kinematics: cartesian
max_velocity: 750
max_accel: 500
max_z_velocity: 30
max_z_accel: 150

[stepper_x]
step_pin: gpio11
dir_pin: !gpio10
enable_pin: !gpio12
microsteps: 16
full_steps_per_rotation: 200
rotation_distance: 40
endstop_pin: tmc2209_stepper_x:virtual_endstop
position_endstop: 0
position_max: 485
homing_speed: 20 # Should be approximately half of Rotational distance value
homing_retract_dist: 0

[tmc2209 stepper_x]
uart_pin: gpio9
tx_pin: gpio8
uart_address: 0
run_current: 1 # was 0.8
diag_pin: ^gpio4
driver_SGTHRS: 58

[stepper_y]
step_pin: gpio6
dir_pin: !gpio5
enable_pin: !gpio7
microsteps: 16
full_steps_per_rotation: 200
rotation_distance: 40
endstop_pin: tmc2209_stepper_y:virtual_endstop
position_endstop: 0
position_max: 340
homing_speed: 20 # Should be approximately half of Rotational distance value
homing_retract_dist: 0

[tmc2209 stepper_y]
uart_pin: gpio9
tx_pin: gpio8
uart_address: 2
run_current: 1
diag_pin: ^gpio3
driver_SGTHRS: 70

[stepper_z]
step_pin: gpio19
dir_pin: gpio28
enable_pin: !gpio2
microsteps: 16
rotation_distance: 8
endstop_pin: ^!gpio25
position_endstop: 0
#endstop_pin: probe:z_virtual_endstop
position_max: 365
homing_speed: 8 

[tmc2209 stepper_z]
uart_pin: gpio9
tx_pin: gpio8
uart_address: 1
run_current: 0.8

[gcode_arcs]
resolution: 0.1
#   An arc will be split into segments. Each segment's length will
#   equal the resolution in mm set above. Lower values will produce a
#   finer arc, but also more work for your machine. Arcs smaller than
#   the configured value will become straight lines. The default is
#   1mm.

[gcode_macro OTTOEJECT_HOME]
description: Custom home command
gcode:
    {action_respond_info("Homing axes...Observe: Y axis, then X Axis, then Z Axis. Set 10mm away from 0,0,0")}
    M117 Homing axes....
    G28 Y F6000
    G28 X F6000
    G28 Z F600
    G1 Y10 X10 Z10 F3000
    M400
