; |------------------------------------PRINTER CALIBRATION CONFIG FILE-------------------------------------|
; |------------------------------------VERSION: 1.0 RELEASE 10/04/2026-------------------------------------|

; |------------------------------------PRINTER: BAMBU LAB X1C-------------------------------------|
[gcode_macro EJECT_FROM_BAMBULAB_X_ONE_C]
description: 'Eject build plate from Bambulab X1C (without homing)'
gcode:
    {% set x_unclamp = 442 %}
    {% set y_engage = 319 %}
    {% set z_flat = 21 %}
    M117 'Removing build plate from Bambulab X1C...'
    OPEN_DOOR_BAMBU_X_ONE_C
    SET_GCODE_VARIABLE MACRO=_EJECT_FROM_PRINTER VARIABLE=otto_x_unclamp VALUE={x_unclamp}
    SET_GCODE_VARIABLE MACRO=_EJECT_FROM_PRINTER VARIABLE=otto_y_engage VALUE={y_engage}
    SET_GCODE_VARIABLE MACRO=_EJECT_FROM_PRINTER VARIABLE=otto_z_flat VALUE={z_flat}
    _EJECT_FROM_PRINTER
    M400

;   -- LOAD BUILD PLATE ONTO Bambulab X1C
[gcode_macro LOAD_ONTO_BAMBULAB_X_ONE_C]
description: 'Load a build plate onto Bambulab X1C'
gcode:
    {% set x_unclamp = 425 %}
    {% set y_engage = 340 %}
    {% set z_flat = 17.5 %}

    ; MOVE BUILD PLATE TO PRINTER
    M117 'Moving build plate to Printer: Bambulab X1C'
    SET_GCODE_VARIABLE MACRO=_LOAD_ONTO_PRINTER VARIABLE=otto_x_unclamp VALUE={x_unclamp}
    SET_GCODE_VARIABLE MACRO=_LOAD_ONTO_PRINTER VARIABLE=otto_y_engage VALUE={y_engage}
    SET_GCODE_VARIABLE MACRO=_LOAD_ONTO_PRINTER VARIABLE=otto_z_flat VALUE={z_flat}
    _LOAD_ONTO_PRINTER
    M400
    M117 'Build plate loaded onto Bambulab X1C'
    CLOSE_DOOR_BAMBU_X_ONE_C
    M117 'Loading build plate process onto Bambulab X1C Completed'

[gcode_macro EJECT_FROM_BAMBULAB_P_ONE_S]
description: 'Eject build plate from Bambulab P1S (without homing)'
gcode:
    {% set x_unclamp = 412 %}
    {% set y_engage = 323 %}
    {% set z_flat = 20 %}
    M117 'Removing build plate from Bambulab P1S...'
    OPEN_DOOR_BAMBU_P_ONE_S
    SET_GCODE_VARIABLE MACRO=_EJECT_FROM_PRINTER VARIABLE=otto_x_unclamp VALUE={x_unclamp}
    SET_GCODE_VARIABLE MACRO=_EJECT_FROM_PRINTER VARIABLE=otto_y_engage VALUE={y_engage}
    SET_GCODE_VARIABLE MACRO=_EJECT_FROM_PRINTER VARIABLE=otto_z_flat VALUE={z_flat}
    _EJECT_FROM_PRINTER
    M400

;   -- LOAD BUILD PLATE ONTO Bambulab P1S
[gcode_macro LOAD_ONTO_BAMBULAB_P_ONE_S]
description: 'Load a build plate onto Bambulab P1S'
gcode:
    {% set x_unclamp = 412 %}
    {% set y_engage = 323 %}
    {% set z_flat = 20 %}

    ; MOVE BUILD PLATE TO PRINTER
    M117 'Moving build plate to Printer: Bambulab P1S'
    SET_GCODE_VARIABLE MACRO=_LOAD_ONTO_PRINTER VARIABLE=otto_x_unclamp VALUE={x_unclamp}
    SET_GCODE_VARIABLE MACRO=_LOAD_ONTO_PRINTER VARIABLE=otto_y_engage VALUE={y_engage}
    SET_GCODE_VARIABLE MACRO=_LOAD_ONTO_PRINTER VARIABLE=otto_z_flat VALUE={z_flat}
    _LOAD_ONTO_PRINTER
    M400
    M117 'Build plate loaded onto Bambulab P1S'
    CLOSE_DOOR_BAMBU_P_ONE_S
    M117 'Loading build plate process onto Bambulab P1S Completed'


; |------------------------------------PRINTER: BAMBU LAB P1P-------------------------------------|
[gcode_macro EJECT_FROM_BAMBULAB_P_ONE_P]
description: 'Eject build plate from Bambulab P1P (without homing)'
gcode:
    {% set x_unclamp = 417 %}
    {% set y_engage = 334 %}
    {% set z_flat = 15 %}
    M117 'Removing build plate from Bambulab P1P...'
    SET_GCODE_VARIABLE MACRO=_EJECT_FROM_PRINTER VARIABLE=otto_x_unclamp VALUE={x_unclamp}
    SET_GCODE_VARIABLE MACRO=_EJECT_FROM_PRINTER VARIABLE=otto_y_engage VALUE={y_engage}
    SET_GCODE_VARIABLE MACRO=_EJECT_FROM_PRINTER VARIABLE=otto_z_flat VALUE={z_flat}
    _EJECT_FROM_PRINTER
    M400

;   -- LOAD BUILD PLATE ONTO Bambulab P1P
[gcode_macro LOAD_ONTO_BAMBULAB_P_ONE_P]
description: 'Load a build plate onto Bambulab P1P'
gcode:
    {% set x_unclamp = 417 %}
    {% set y_engage = 334 %}
    {% set z_flat = 15 %}

    ; MOVE BUILD PLATE TO PRINTER
    M117 'Moving build plate to Printer: Bambulab P1P'
    SET_GCODE_VARIABLE MACRO=_LOAD_ONTO_PRINTER VARIABLE=otto_x_unclamp VALUE={x_unclamp}
    SET_GCODE_VARIABLE MACRO=_LOAD_ONTO_PRINTER VARIABLE=otto_y_engage VALUE={y_engage}
    SET_GCODE_VARIABLE MACRO=_LOAD_ONTO_PRINTER VARIABLE=otto_z_flat VALUE={z_flat}
    _LOAD_ONTO_PRINTER
    M400
    M117 'Build plate loaded onto Bambulab P1P'
    M117 'Loading build plate process onto Bambulab P1P Completed'


; |------------------------------------PRINTER: ELEGOO CENTAURI CARBON-------------------------------------|
[gcode_macro EJECT_FROM_ELEGOO_CC]
description: 'Eject build plate from Elegoo CC (without homing)'
gcode:
    {% set x_unclamp = 423 %}
    {% set y_engage = 345 %}
    {% set z_flat = 40 %}
    M117 'Removing build plate from Elegoo CC...'
    OPEN_DOOR_ELEGOO_CC
    SET_GCODE_VARIABLE MACRO=_EJECT_FROM_PRINTER VARIABLE=otto_x_unclamp VALUE={x_unclamp}
    SET_GCODE_VARIABLE MACRO=_EJECT_FROM_PRINTER VARIABLE=otto_y_engage VALUE={y_engage}
    SET_GCODE_VARIABLE MACRO=_EJECT_FROM_PRINTER VARIABLE=otto_z_flat VALUE={z_flat}
    _EJECT_FROM_PRINTER
    M400

;   -- LOAD BUILD PLATE ONTO ELEGOO CC
[gcode_macro LOAD_ONTO_ELEGOO_CC]
description: 'Load a build plate onto Elegoo CC'
gcode:
    {% set x_unclamp = 423 %}
    {% set y_engage = 345 %}
    {% set z_flat = 40 %}

    ; MOVE BUILD PLATE TO PRINTER
    M117 'Moving build plate to Printer: Elegoo CC'
    SET_GCODE_VARIABLE MACRO=_LOAD_ONTO_PRINTER VARIABLE=otto_x_unclamp VALUE={x_unclamp}
    SET_GCODE_VARIABLE MACRO=_LOAD_ONTO_PRINTER VARIABLE=otto_y_engage VALUE={y_engage}
    SET_GCODE_VARIABLE MACRO=_LOAD_ONTO_PRINTER VARIABLE=otto_z_flat VALUE={z_flat}
    _LOAD_ONTO_PRINTER
    M400
    M117 'Build plate loaded onto Elegoo CC'
    CLOSE_DOOR_ELEGOO_CC
    M117 'Loading build plate process onto Elegoo CC Completed'


; |------------------------------------PRINTER: ANYCUBIC KOBRA S1-------------------------------------|
[gcode_macro EJECT_FROM_ANYCUBIC_KOBRA_S_ONE]
description: 'Eject build plate from Anycubic Kobra S1 (without homing)'
gcode:
    {% set x_unclamp = 421 %}
    {% set y_engage = 344 %}
    {% set z_flat = 12 %}
    M117 'Removing build plate from Anycubic Kobra S1...'
    OPEN_DOOR_ANYCUBIC_KOBRA_S_ONE
    SET_GCODE_VARIABLE MACRO=_EJECT_FROM_PRINTER VARIABLE=otto_x_unclamp VALUE={x_unclamp}
    SET_GCODE_VARIABLE MACRO=_EJECT_FROM_PRINTER VARIABLE=otto_y_engage VALUE={y_engage}
    SET_GCODE_VARIABLE MACRO=_EJECT_FROM_PRINTER VARIABLE=otto_z_flat VALUE={z_flat}
    _EJECT_FROM_PRINTER
    M400

;   -- LOAD BUILD PLATE ONTO Anycubic Kobra S1
[gcode_macro LOAD_ONTO_ANYCUBIC_KOBRA_S_ONE]
description: 'Load a build plate onto Anycubic Kobra S1'
gcode:
    {% set x_unclamp = 421 %}
    {% set y_engage = 344 %}
    {% set z_flat = 12 %}

    ; MOVE BUILD PLATE TO PRINTER
    M117 'Moving build plate to Printer: Anycubic Kobra S1'
    SET_GCODE_VARIABLE MACRO=_LOAD_ONTO_PRINTER VARIABLE=otto_x_unclamp VALUE={x_unclamp}
    SET_GCODE_VARIABLE MACRO=_LOAD_ONTO_PRINTER VARIABLE=otto_y_engage VALUE={y_engage}
    SET_GCODE_VARIABLE MACRO=_LOAD_ONTO_PRINTER VARIABLE=otto_z_flat VALUE={z_flat}
    _LOAD_ONTO_PRINTER
    M400
    M117 'Build plate loaded onto Anycubic Kobra S1'
    CLOSE_DOOR_ANYCUBIC_KOBRA_S_ONE
    M117 'Loading build plate process onto Anycubic Kobra S1 Completed'


; |------------------------------------PRINTER: BAMBU LAB A1-------------------------------------|
[gcode_macro EJECT_FROM_BAMBULAB_A_ONE]
description: 'Eject build plate from Bambu Lab A1 (without homing)'
gcode:
    {% set x_unclamp = 418 %}
    {% set y_engage = 318 %}
    {% set z_flat = 2 %}
    M117 'Removing build plate from Bambu Lab A1...'
    SET_GCODE_VARIABLE MACRO=_EJECT_FROM_PRINTER VARIABLE=otto_x_unclamp VALUE={x_unclamp}
    SET_GCODE_VARIABLE MACRO=_EJECT_FROM_PRINTER VARIABLE=otto_y_engage VALUE={y_engage}
    SET_GCODE_VARIABLE MACRO=_EJECT_FROM_PRINTER VARIABLE=otto_z_flat VALUE={z_flat}
    _EJECT_FROM_PRINTER
    M400

;   -- LOAD BUILD PLATE ONTO Bambu Lab A1
[gcode_macro LOAD_ONTO_BAMBULAB_A_ONE]
description: 'Load a build plate onto Bambu Lab A1'
gcode:
    {% set x_unclamp = 418 %}
    {% set y_engage = 318 %}
    {% set z_flat = 2 %}

    ; MOVE BUILD PLATE TO PRINTER
    M117 'Moving build plate to Printer: Bambu Lab A1'
    SET_GCODE_VARIABLE MACRO=_LOAD_ONTO_PRINTER VARIABLE=otto_x_unclamp VALUE={x_unclamp}
    SET_GCODE_VARIABLE MACRO=_LOAD_ONTO_PRINTER VARIABLE=otto_y_engage VALUE={y_engage}
    SET_GCODE_VARIABLE MACRO=_LOAD_ONTO_PRINTER VARIABLE=otto_z_flat VALUE={z_flat}
    _LOAD_ONTO_PRINTER
    M400
    M117 'Build plate loaded onto Bambu Lab A1'
    M117 'Loading build plate process onto Bambu Lab A1 Completed'


; |------------------------------------PRINTER: FLASHFORGE AD5X-------------------------------------|
[gcode_macro EJECT_FROM_FLASHFORGE_AD_FIVE_X]
description: 'Eject build plate from Flashforge AD5X (without homing)'
gcode:
    {% set x_unclamp = 422 %}
    {% set y_engage = 316 %}
    {% set z_flat = 10 %}
    M117 'Removing build plate from Flashforge AD5X...'
    SET_GCODE_VARIABLE MACRO=_EJECT_FROM_PRINTER VARIABLE=otto_x_unclamp VALUE={x_unclamp}
    SET_GCODE_VARIABLE MACRO=_EJECT_FROM_PRINTER VARIABLE=otto_y_engage VALUE={y_engage}
    SET_GCODE_VARIABLE MACRO=_EJECT_FROM_PRINTER VARIABLE=otto_z_flat VALUE={z_flat}
    _EJECT_FROM_PRINTER
    M400

;   -- LOAD BUILD PLATE ONTO Flashforge AD5X
[gcode_macro LOAD_ONTO_FLASHFORGE_AD_FIVE_X]
description: 'Load a build plate onto Flashforge AD5X'
gcode:
    {% set x_unclamp = 422 %}
    {% set y_engage = 316 %}
    {% set z_flat = 10 %}

    ; MOVE BUILD PLATE TO PRINTER
    M117 'Moving build plate to Printer: Flashforge AD5X'
    SET_GCODE_VARIABLE MACRO=_LOAD_ONTO_PRINTER VARIABLE=otto_x_unclamp VALUE={x_unclamp}
    SET_GCODE_VARIABLE MACRO=_LOAD_ONTO_PRINTER VARIABLE=otto_y_engage VALUE={y_engage}
    SET_GCODE_VARIABLE MACRO=_LOAD_ONTO_PRINTER VARIABLE=otto_z_flat VALUE={z_flat}
    _LOAD_ONTO_PRINTER
    M400
    M117 'Build plate loaded onto Flashforge AD5X'
    M117 'Loading build plate process onto Flashforge AD5X Completed'


; |------------------------------------PRINTER: CREALITY K1C-------------------------------------|
[gcode_macro EJECT_FROM_CREALITY_K_ONE_C]
description: 'Eject build plate from Creality K1C (without homing)'
gcode:
    # PLATE EJECTING VARIABLES
    {% set x_unclamp = 411 %}
    {% set y_engage = 329 %}
    {% set z_flat = 33.5 %}

    OPEN_DOOR_CREALITY_K_ONE_C
    M117 'Removing build plate from Creality K1C...'
    SET_GCODE_VARIABLE MACRO=_EJECT_FROM_PRINTER VARIABLE=otto_x_unclamp VALUE={x_unclamp}
    SET_GCODE_VARIABLE MACRO=_EJECT_FROM_PRINTER VARIABLE=otto_y_engage VALUE={y_engage}
    SET_GCODE_VARIABLE MACRO=_EJECT_FROM_PRINTER VARIABLE=otto_z_flat VALUE={z_flat}
    _EJECT_FROM_PRINTER
    M400

;   -- LOAD BUILD PLATE ONTO Creality K1C
[gcode_macro LOAD_ONTO_CREALITY_K_ONE_C]
description: 'Load a build plate onto Creality K1C'
gcode:
    # PLATE LOADING VARIABLES
    {% set x_unclamp = 411 %}
    {% set y_engage = 329 %}
    {% set z_flat = 33.5 %}

    ; MOVE BUILD PLATE TO PRINTER
    M117 'Moving build plate to Printer: Creality K1C'
    SET_GCODE_VARIABLE MACRO=_LOAD_ONTO_PRINTER VARIABLE=otto_x_unclamp VALUE={x_unclamp}
    SET_GCODE_VARIABLE MACRO=_LOAD_ONTO_PRINTER VARIABLE=otto_y_engage VALUE={y_engage}
    SET_GCODE_VARIABLE MACRO=_LOAD_ONTO_PRINTER VARIABLE=otto_z_flat VALUE={z_flat}
    _LOAD_ONTO_PRINTER
    M400
    M117 'Build plate loaded onto Creality K1C'
    CLOSE_DOOR_CREALITY_K_ONE_C
    M117 'Loading build plate process onto Creality K1C Completed'

; ------------------------------------------------------------------------------------------------------------------

[gcode_macro CLOSE_DOOR_BAMBU_X_ONE_C]
description: 'Closing BAMBU X1C Door'
gcode:
    # DOOR CLOSING VARIABLES
    {% set x_start = 103 %}
    {% set y_start = 322 %}
    {% set z_engage = 105 %}
    {% set d_to_pin_dist = 375 %} ; distance from pivot point of the door to center of the arm pin

    SET_GCODE_VARIABLE MACRO=_CLOSE_DOOR VARIABLE=door_x_start VALUE={x_start}
    SET_GCODE_VARIABLE MACRO=_CLOSE_DOOR VARIABLE=door_y_start VALUE={y_start}
    SET_GCODE_VARIABLE MACRO=_CLOSE_DOOR VARIABLE=door_z_engage VALUE={z_engage}
    SET_GCODE_VARIABLE MACRO=_CLOSE_DOOR VARIABLE=door_d_to_pin_dist VALUE={d_to_pin_dist}

    M117 'Closing BAMBU X1C Door'
    _CLOSE_DOOR
    M117 'Closed Door'

[gcode_macro OPEN_DOOR_BAMBU_X_ONE_C]
description: 'Opening BAMBU X1C Door'
gcode:
    # DOOR OPENING VARIABLES
    {% set x_start = 104 %}
    {% set y_start = 319 %}
    {% set z_engage = 105 %}
    {% set d_to_pin_dist = 370 %} ; distance from pivot point of the door to center of the arm pin

    SET_GCODE_VARIABLE MACRO=_OPEN_DOOR VARIABLE=door_x_start VALUE={x_start}
    SET_GCODE_VARIABLE MACRO=_OPEN_DOOR VARIABLE=door_y_start VALUE={y_start}
    SET_GCODE_VARIABLE MACRO=_OPEN_DOOR VARIABLE=door_z_engage VALUE={z_engage}
    SET_GCODE_VARIABLE MACRO=_OPEN_DOOR VARIABLE=door_d_to_pin_dist VALUE={d_to_pin_dist}
    M117 'Opening BAMBU X1C Door'
    _OPEN_DOOR
    M117 'Opened Door'
    M400

; ------------------------------------------------------------------------------------------------------------------

[gcode_macro CLOSE_DOOR_BAMBU_P_ONE_S]
description: 'Closing BAMBU X1C Door'
gcode:
    # DOOR CLOSING VARIABLES
    {% set x_start = 97 %}
    {% set y_start = 303 %}
    {% set z_engage = 112 %}
    {% set d_to_pin_dist = 372 %} ; distance from pivot point of the door to center of the arm pin

    SET_GCODE_VARIABLE MACRO=_CLOSE_DOOR VARIABLE=door_x_start VALUE={x_start}
    SET_GCODE_VARIABLE MACRO=_CLOSE_DOOR VARIABLE=door_y_start VALUE={y_start}
    SET_GCODE_VARIABLE MACRO=_CLOSE_DOOR VARIABLE=door_z_engage VALUE={z_engage}
    SET_GCODE_VARIABLE MACRO=_CLOSE_DOOR VARIABLE=door_d_to_pin_dist VALUE={d_to_pin_dist}

    M117 'Closing BAMBU X1C Door'
    _CLOSE_DOOR
    M117 'Closed Door'

[gcode_macro OPEN_DOOR_BAMBU_P_ONE_S]
description: 'Opening BAMBU X1C Door'
gcode:
    # DOOR OPENING VARIABLES
    {% set x_start = 97 %}
    {% set y_start = 303 %}
    {% set z_engage = 112 %}
    {% set d_to_pin_dist = 372 %} ; distance from pivot point of the door to center of the arm pin

    SET_GCODE_VARIABLE MACRO=_OPEN_DOOR VARIABLE=door_x_start VALUE={x_start}
    SET_GCODE_VARIABLE MACRO=_OPEN_DOOR VARIABLE=door_y_start VALUE={y_start}
    SET_GCODE_VARIABLE MACRO=_OPEN_DOOR VARIABLE=door_z_engage VALUE={z_engage}
    SET_GCODE_VARIABLE MACRO=_OPEN_DOOR VARIABLE=door_d_to_pin_dist VALUE={d_to_pin_dist}
    M117 'Opening BAMBU X1C Door'
    _OPEN_DOOR
    M117 'Opened Door'
    M400

; ------------------------------------------------------------------------------------------------------------------

[gcode_macro CLOSE_DOOR_CREALITY_K_ONE_C]
description: 'Closing Creality K1C Door'
gcode:
    # DOOR CLOSING VARIABLES
    {% set x_start = 101 %}
    {% set y_start = 321 %}
    {% set z_engage = 160 %}
    {% set d_to_pin_dist = 347 %} ; distance from pivot point of the door to center of the arm pin

    SET_GCODE_VARIABLE MACRO=_CLOSE_DOOR VARIABLE=door_x_start VALUE={x_start}
    SET_GCODE_VARIABLE MACRO=_CLOSE_DOOR VARIABLE=door_y_start VALUE={y_start}
    SET_GCODE_VARIABLE MACRO=_CLOSE_DOOR VARIABLE=door_z_engage VALUE={z_engage}
    SET_GCODE_VARIABLE MACRO=_CLOSE_DOOR VARIABLE=door_d_to_pin_dist VALUE={d_to_pin_dist}

    M117 'Closing Creality K1C Door'
    _CLOSE_DOOR
    M117 'Closed Door'

[gcode_macro OPEN_DOOR_CREALITY_K_ONE_C]
description: 'Opening Creality K1C Door'
gcode:
    # DOOR OPENING VARIABLES
    {% set x_start = 101 %}
    {% set y_start = 321 %}
    {% set z_engage = 160 %}
    {% set d_to_pin_dist = 347 %} ; distance from pivot point of the door to center of the arm pin

    SET_GCODE_VARIABLE MACRO=_OPEN_DOOR VARIABLE=door_x_start VALUE={x_start}
    SET_GCODE_VARIABLE MACRO=_OPEN_DOOR VARIABLE=door_y_start VALUE={y_start}
    SET_GCODE_VARIABLE MACRO=_OPEN_DOOR VARIABLE=door_z_engage VALUE={z_engage}
    SET_GCODE_VARIABLE MACRO=_OPEN_DOOR VARIABLE=door_d_to_pin_dist VALUE={d_to_pin_dist}
    M117 'Opening Creality K1C Door'
    _OPEN_DOOR
    M117 'Opened Door'
    M400


; ------------------------------------------------------------------------------------------------------------------

[gcode_macro CLOSE_DOOR_ELEGOO_CC]
description: 'Closing Elegoo CC Door'
gcode:
    # DOOR CLOSING VARIABLES
    {% set x_start = 102 %}
    {% set y_start = 326 %}
    {% set z_engage = 160 %}
    {% set d_to_pin_dist = 382 %} ; distance from pivot point of the door to center of the arm pin

    SET_GCODE_VARIABLE MACRO=_CLOSE_DOOR VARIABLE=door_x_start VALUE={x_start}
    SET_GCODE_VARIABLE MACRO=_CLOSE_DOOR VARIABLE=door_y_start VALUE={y_start}
    SET_GCODE_VARIABLE MACRO=_CLOSE_DOOR VARIABLE=door_z_engage VALUE={z_engage}
    SET_GCODE_VARIABLE MACRO=_CLOSE_DOOR VARIABLE=door_d_to_pin_dist VALUE={d_to_pin_dist}

    M117 'Closing Elegoo CC Door'
    _CLOSE_DOOR
    M117 'Closed Door'

[gcode_macro OPEN_DOOR_ELEGOO_CC]
description: 'Opening Elegoo CC Door'
gcode:
    # DOOR OPENING VARIABLES
    {% set x_start = 102 %}
    {% set y_start = 326 %}
    {% set z_engage = 160 %}
    {% set d_to_pin_dist = 382 %} ; distance from pivot point of the door to center of the arm pin

    SET_GCODE_VARIABLE MACRO=_OPEN_DOOR VARIABLE=door_x_start VALUE={x_start}
    SET_GCODE_VARIABLE MACRO=_OPEN_DOOR VARIABLE=door_y_start VALUE={y_start}
    SET_GCODE_VARIABLE MACRO=_OPEN_DOOR VARIABLE=door_z_engage VALUE={z_engage}
    SET_GCODE_VARIABLE MACRO=_OPEN_DOOR VARIABLE=door_d_to_pin_dist VALUE={d_to_pin_dist}
    M117 'Opening Elegoo CC Door'
    _OPEN_DOOR
    M117 'Opened Door'
    M400

; ------------------------------------------------------------------------------------------------------------------

[gcode_macro CLOSE_DOOR_ANYCUBIC_KOBRA_S_ONE]
description: 'Closing Anycubic KS1 Door'
gcode:
    # DOOR CLOSING VARIABLES
    {% set x_start = 95 %}
    {% set y_start = 325 %}
    {% set z_engage = 138 %}
    {% set d_to_pin_dist = 405 %} ; distance from pivot point of the door to center of the arm pin

    SET_GCODE_VARIABLE MACRO=_CLOSE_DOOR VARIABLE=door_x_start VALUE={x_start}
    SET_GCODE_VARIABLE MACRO=_CLOSE_DOOR VARIABLE=door_y_start VALUE={y_start}
    SET_GCODE_VARIABLE MACRO=_CLOSE_DOOR VARIABLE=door_z_engage VALUE={z_engage}
    SET_GCODE_VARIABLE MACRO=_CLOSE_DOOR VARIABLE=door_d_to_pin_dist VALUE={d_to_pin_dist}

    M117 'Closing Anycubic KS1 Door'
    _CLOSE_DOOR
    M117 'Closed Door'

[gcode_macro OPEN_DOOR_ANYCUBIC_KOBRA_S_ONE]
description: 'Opening Anycubic KS1 Door'
gcode:
    # DOOR OPENING VARIABLES
    {% set x_start = 95 %}
    {% set y_start = 325 %}
    {% set z_engage = 138 %}
    {% set d_to_pin_dist = 405 %} ; distance from pivot point of the door to center of the arm pin

    SET_GCODE_VARIABLE MACRO=_OPEN_DOOR VARIABLE=door_x_start VALUE={x_start}
    SET_GCODE_VARIABLE MACRO=_OPEN_DOOR VARIABLE=door_y_start VALUE={y_start}
    SET_GCODE_VARIABLE MACRO=_OPEN_DOOR VARIABLE=door_z_engage VALUE={z_engage}
    SET_GCODE_VARIABLE MACRO=_OPEN_DOOR VARIABLE=door_d_to_pin_dist VALUE={d_to_pin_dist}
    M117 'Opening Anycubic KS1 Door'
    _OPEN_DOOR
    M117 'Opened Door'
    M400
