; |------------------------------------STORAGE CALIBRATION CONFIG FILE-------------------------------------|
; |------------------------------------VERSION: 1.0 RELEASE 10/04/2026-------------------------------------|

[gcode_macro _GLOBAL_VARS]
variable_global_x_unclamp: 31 ; LOCATION FOR UNCLAMP 'X' OF THE PLATE BRACKET
variable_global_y_engage: 318 ; LOCATION FOR DEPTH OF 'Y' WHERE THE BUILD PLATE CAN BE SLID INTO THE FORK
variable_global_first_z_flat: 11 ; LOCATION FOR HEIGHT OF 'Z' WHERE THE BUILD PLATE IS LEVEL TO THE FORK
variable_global_slot_gap: 25 ; GAP ( in mm ) BETWEEN THE STORAGE RACK BRACKETS
variable_global_y_pullback_limit: 10 ; DEFAULT IS 10 FOR 256x256 BUILD PLATES. AND IT IS 30 FOR THE SMALLER PLATE 220x220
gcode: ;

; |------------------------------------SLOT-1-------------------------------------|
[gcode_macro GRAB_FROM_SLOT_1]
description: Taking new plate to deliver to printer from Slot 1
gcode:
    {% set x_unclamp_offset = 0 %}
    {% set z_flat_offset = 0 %}
    
    M117 Grabbing bed from slot 1...
    _DO_SLOT_OPERATION SLOT_NUMBER=1 OPERATION_MACRO=_GRAB_FROM_SLOT X_UNCLAMP_OFFSET={x_unclamp_offset} Z_FLAT_OFFSET={z_flat_offset}

[gcode_macro STORE_TO_SLOT_1]
description: Start STORE PRINT Macro for Slot 1
gcode:
    {% set x_unclamp_offset = 0 %}
    {% set z_flat_offset = 0 %}
    
    M117 Storing to slot 1...
    _DO_SLOT_OPERATION SLOT_NUMBER=1 OPERATION_MACRO=_STORE_TO_SLOT X_UNCLAMP_OFFSET={x_unclamp_offset} Z_FLAT_OFFSET={z_flat_offset}

; |------------------------------------SLOT-2-------------------------------------|
[gcode_macro GRAB_FROM_SLOT_2]
description: Taking new plate to deliver to printer from Slot 2
gcode:
    {% set x_unclamp_offset = 0 %}
    {% set z_flat_offset = 0 %}
    
    M117 Grabbing bed from slot 2...
    _DO_SLOT_OPERATION SLOT_NUMBER=2 OPERATION_MACRO=_GRAB_FROM_SLOT X_UNCLAMP_OFFSET={x_unclamp_offset} Z_FLAT_OFFSET={z_flat_offset}

[gcode_macro STORE_TO_SLOT_2]
description: Start STORE PRINT Macro for Slot 2
gcode:
    {% set x_unclamp_offset = 0 %}
    {% set z_flat_offset = 0 %}
    
    M117 Storing to slot 2...
    _DO_SLOT_OPERATION SLOT_NUMBER=2 OPERATION_MACRO=_STORE_TO_SLOT X_UNCLAMP_OFFSET={x_unclamp_offset} Z_FLAT_OFFSET={z_flat_offset}


; |------------------------------------SLOT-3-------------------------------------|
[gcode_macro GRAB_FROM_SLOT_3]
description: Taking new plate to deliver to printer from Slot 3
gcode:
    {% set x_unclamp_offset = 0 %}
    {% set z_flat_offset = 0 %}
    
    M117 Grabbing bed from slot 3...
    _DO_SLOT_OPERATION SLOT_NUMBER=3 OPERATION_MACRO=_GRAB_FROM_SLOT X_UNCLAMP_OFFSET={x_unclamp_offset-1} Z_FLAT_OFFSET={z_flat_offset+1}

; STORE PLATE TO SLOT 3
[gcode_macro STORE_TO_SLOT_3]
description: Start STORE PRINT Macro for Slot 3
gcode:
    {% set x_unclamp_offset = 0 %}
    {% set z_flat_offset = 0 %}
    
    M117 Storing to slot 3...
    _DO_SLOT_OPERATION SLOT_NUMBER=3 OPERATION_MACRO=_STORE_TO_SLOT X_UNCLAMP_OFFSET={x_unclamp_offset-1} Z_FLAT_OFFSET={z_flat_offset+1}

; |------------------------------------SLOT-4-------------------------------------|
[gcode_macro GRAB_FROM_SLOT_4]
description: Taking new plate to deliver to printer from Slot 4
gcode:
    {% set x_unclamp_offset = 0 %}
    {% set z_flat_offset = 0 %}
    
    M117 Grabbing bed from slot 4...
    _DO_SLOT_OPERATION SLOT_NUMBER=4 OPERATION_MACRO=_GRAB_FROM_SLOT X_UNCLAMP_OFFSET={x_unclamp_offset-1} Z_FLAT_OFFSET={z_flat_offset+1}

[gcode_macro STORE_TO_SLOT_4]
description: Start STORE PRINT Macro for Slot 4
gcode:
    {% set x_unclamp_offset = 0 %}
    {% set z_flat_offset = 0 %}
    
    M117 Storing to slot 4...
    _DO_SLOT_OPERATION SLOT_NUMBER=4 OPERATION_MACRO=_STORE_TO_SLOT X_UNCLAMP_OFFSET={x_unclamp_offset-1} Z_FLAT_OFFSET={z_flat_offset+1}

; |------------------------------------SLOT-5-------------------------------------|
[gcode_macro GRAB_FROM_SLOT_5]
description: Taking new plate to deliver to printer from Slot 5
gcode:
    {% set x_unclamp_offset = 0 %}
    {% set z_flat_offset = 0 %}
    
    M117 Grabbing bed from slot 5...
    _DO_SLOT_OPERATION SLOT_NUMBER=5 OPERATION_MACRO=_GRAB_FROM_SLOT X_UNCLAMP_OFFSET={x_unclamp_offset-1} Z_FLAT_OFFSET={z_flat_offset+1}

[gcode_macro STORE_TO_SLOT_5]
description: Start STORE PRINT Macro for Slot 5
gcode:
    {% set x_unclamp_offset = 0 %}
    {% set z_flat_offset = 0 %}
    
    M117 Storing to slot 5...
    _DO_SLOT_OPERATION SLOT_NUMBER=5 OPERATION_MACRO=_STORE_TO_SLOT X_UNCLAMP_OFFSET={x_unclamp_offset-1} Z_FLAT_OFFSET={z_flat_offset+1}


; |------------------------------------SLOT-6-------------------------------------|
[gcode_macro GRAB_FROM_SLOT_6]
description: Taking new plate to deliver to printer from Slot 6
gcode:
    {% set x_unclamp_offset = 0 %}
    {% set z_flat_offset = 0 %}
    
    M117 Grabbing bed from slot 6...
    _DO_SLOT_OPERATION SLOT_NUMBER=6 OPERATION_MACRO=_GRAB_FROM_SLOT X_UNCLAMP_OFFSET={x_unclamp_offset-1} Z_FLAT_OFFSET={z_flat_offset+2}

[gcode_macro STORE_TO_SLOT_6]
description: Start STORE PRINT Macro for Slot 6
gcode:
    {% set x_unclamp_offset = 0 %}
    {% set z_flat_offset = 0 %}
    
    M117 Storing to slot 6...
    _DO_SLOT_OPERATION SLOT_NUMBER=6 OPERATION_MACRO=_STORE_TO_SLOT X_UNCLAMP_OFFSET={x_unclamp_offset-1} Z_FLAT_OFFSET={z_flat_offset+2}


; |------------------------------------SLOT-OPERATION-------------------------------------|
[gcode_macro _DO_SLOT_OPERATION]
variable_global_x_unclamp: 0
variable_global_y_engage: 0
variable_global_first_z_flat: 0
variable_global_slot_gap: 0
variable_global_y_pullback_limit: 0
description: Helper macro to perform slot operations
gcode:
    {% set slot_number = params.SLOT_NUMBER|int %}
    {% set operation_macro = params.OPERATION_MACRO|string %} ; '_GRAB_FROM_SLOT' or '_STORE_TO_SLOT'
    {% set x_unclamp_offset = params.X_UNCLAMP_OFFSET|int %}
    {% set z_flat_offset = params.Z_FLAT_OFFSET|int %}
    
    {% set x_unclamp = printer["gcode_macro _GLOBAL_VARS"].global_x_unclamp + x_unclamp_offset %}
    {% set y_engage = printer["gcode_macro _GLOBAL_VARS"].global_y_engage %}
    {% set slot_gap = printer["gcode_macro _GLOBAL_VARS"].global_slot_gap + 30 %}
    {% set z_flat = printer["gcode_macro _GLOBAL_VARS"].global_first_z_flat + ((slot_number-1)*slot_gap) + z_flat_offset %}
    {% set y_pullback_limit = printer["gcode_macro _GLOBAL_VARS"].global_y_pullback_limit %}

    M117 Performing slot operation for Slot {slot_number}...

    ; Set variables for the target macro (_GRAB_FROM_SLOT or _STORE_TO_SLOT)
    SET_GCODE_VARIABLE MACRO={operation_macro} VARIABLE=otto_x_unclamp VALUE={x_unclamp}
    SET_GCODE_VARIABLE MACRO={operation_macro} VARIABLE=otto_y_engage VALUE={y_engage}
    SET_GCODE_VARIABLE MACRO={operation_macro} VARIABLE=otto_z_flat VALUE={z_flat}
    SET_GCODE_VARIABLE MACRO={operation_macro} VARIABLE=otto_y_pullback_limit VALUE={y_pullback_limit}
    ; Execute the target macro
    {operation_macro}
    M400


